<body class="tutor-show">
  <%= render 'layouts/header' %>
  <div id="tutor-page">
  <div id="welcome-opener">
  <h2>Welcome <%= @tutor.first_name %></h2>
  </div>
  <div id="user-options">
    <p><%= link_to "Search Students", search_students_path, class: "no-image-link" %></p>
    
    <p><%= link_to "View Appointments", tutor_appointments_path(@tutor), class: "no-image-link" %></p>

    <p><a href=<%=edit_tutor_path(@tutor) %>><img src="/assets/myinfo.png" id="myinfo-image" class="image-link"></a><%= link_to "Edit My Info", edit_tutor_path(@tutor), class: "no-image-link" %></p>

  </div>
</body>