<header id="nav-header">
  <ul id="nav-bar">
    <% if logged_in? %>
      <li><%= link_to("My Account", "#{tutor_path(session[:tutor_id])}", class:"my-account") %></li>
      <li><%= link_to "Search For Students", search_students_path, class:"search-students" %></li>
    <% else %>
      <li><%= link_to("Have an Account? Log In","/login", class:"nav-right") %></li>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to("Log Out #{Tutor.find_by(id: session[:tutor_id]).first_name}", "/session", method: "delete", class:"nav-right") unless session[:tutor_id].nil? %></li>
    <% else %>
      <li><%= link_to "Don't Have an Account? Create One", new_tutor_path, class:"nav-right" if session[:tutor_id].nil? %></li>
    <% end %>
  </ul>
</header>

<div id="break-header">
</div>
